<!DOCTYPE html>
<html>
<head>
	<title>复制</title>
</head>
<body>
	<input type="text" id="biao1" value="君君君" />
	<input type="button" onClick="copyUrl2()" value="点击复制代码" />

	<script type="text/javascript">
		function copyUrl2(){
			var Url2=document.getElementById("biao1");
			Url2.select(); // 选择对象
			document.execCommand("Copy"); // 执行浏览器复制命令
			alert("已复制好，可贴粘。");
		}
	</script>
		
</body>
</html>